@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');


.hero {
    width: 100%;
    height: auto;
    background: #cc3300;
    display: flex;
    justify-content: center;
}
.hero h1 {
    font-weight: 200;
    font-size: 70px;
    color: #000;
    font-family: 'Chelsea Market', cursive;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 750px) {
    .hero {
        height: auto;
    }
    .hero h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .hero {
        height: auto;
    }
    .hero h1 {
        font-size: 35px;
    }
}